.emoji_happy {
  background-image: url("../img/sprite/happy.png");
}
.emoji_angry {
  background-image: url("../img/sprite/angry.png");
}
.emoji_cool {
  background-image: url("../img/sprite/cool.png");
}